.cardMap {
    height: 300px;
    width: 300px;
    background-color: #f0f0f0a3;
    overflow-x: auto;
    border: 1px solid rgb(219, 218, 218);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.continue-shopping,
.start-shopping {
    margin-top: 1rem;
}

.continue-shopping a,
.start-shopping a {
    color: gray;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.continue-shopping a span,
.start-shopping a span {
    margin-left: 0.5rem;
}

.cart-empty {
    font-size: 20px;
    margin-top: 2rem;
    color: rgb(84, 84, 84);
    display: flex;
    flex-direction: column;
    align-items: center;
}